h2 {
    color:aquamarine;
    font-family: 'Times New Roman', Times, serif;
}
#headpart1 {
    color:chocolate
}

.red {
     color:crimson
}
/* When refercning classes, we use ."class name" and when referncing IDs we use #"class name".


/*COMMENT WOOOOOOOOOOOO */
/*USE ABOUT.HTML*/